name: CI/CD Pipeline

on:
    push:
        branches:
            - main
            - develop
    pull_request:
        branches:
            - main
            - develop

jobs:
    test:
        name: Run Tests
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.13'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements-test.txt

            - name: Run tests
              run: |
                pytest -v

    build-and-push:
        name: Build & Push Docker Image
        needs: test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build Docker image
              run: |
                docker build \
                    -t ${{ secrets.DOCKER_USERNAME }}/vehicle-fast-api:latest \
                    -t ${{ secrets.DOCKER_USERNAME }}/vehicle-fast-api:1.0${{ github.run_number }} \
                    .
            
            - name: Push Docker image
              run: |
                docker push ${{ secrets.DOCKER_USERNAME }}/vehicle-fast-api:latest
                docker push ${{ secrets.DOCKER_USERNAME }}/vehicle-fast-api:1.0${{ github.run_number }}
            